NODE_ENV=development
PORT=8000

MONGO_URI=mongodb://localhost:27017/superbienv?retryWrites=false

JWT_ACCESS_SECRET=superbienv_access_secret_change_me
JWT_REFRESH_SECRET=superbienv_refresh_secret_change_me

CLOUDINARY_CLOUD_NAME=db0kizjvf
CLOUDINARY_API_KEY=487883377539139
CLOUDINARY_API_SECRET=Ag1ekIgJfFaXmTxBDebYVYx5tkc

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password

FRONTEND_URL=http://localhost:5173
ADMIN_EMAIL=admin@superbienv.ci
